body{
	margin: 0;
}
h1{
	position: relative;
	top: 20%;
	font-size: 100px;
	font-family: 'Helvetica';
}

h2{
	margin-top: 0;
	margin-bottom: 50px;
	padding-top: 20px;
	position: relative;
	left: 8%;
	font-family: 'Helvetica';
	font-size: 40px;

}
p{
	margin:0;
}

.name{
	background-color: rgb(109, 120, 120);
	text-align: center;
	height: 500px;
}

.about{
	background-color: rgb(25, 41, 48);
	display: block;
	height:400px;
}

.projects{
	background-color: blue;
	display: block;
}

.me{
	position: relative;
	border-radius: 50%;
	left:20%;
}
